@charset "UTF-8";
/* CSS Document */

.humanfirst{
	width: 960px;
	min-height: 640px;
	line-height: 1;
	margin: 0 auto;
	background-image:url("../img/img_main-left-s.jpg"),url("../img/img_main-right-s.jpg");
	background-position:left top,right top;
	background-repeat: no-repeat,no-repeat;
	text-align: center;
}
.humanfirst_lead{
	padding-top: 50px;
	padding-bottom: 85px;
	background-color: transparent;
}